In [1]:
import os
import pandas as pd

root = '/workspace/data/도서대출자료'
month = '1월'
book_file_name = '부산광역시 동구어린이영어도서관 장서 대출목록 (2024년 01월).xlsx'

df_book = pd.read_excel(os.path.join(root, month, book_file_name))
df_book = df_book.loc[:, ['도서명', '저자', '출판사', '권', '도서권수', '대출건수', 'ISBN', '등록일자']]
display(df_book)

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,도서명,저자,출판사,권,도서권수,대출건수,ISBN,등록일자
0,Never never,"by Colleen Hoover ,Tarryn Fisher",HarperCollins Publishers,NaN,1,0,9780008620486,2024-01-07
1,(The)Book of the Tree,"by Angus Hyland ,Kendra Wilson",Laurence King,NaN,1,0,9781786276544,2024-01-07
2,Wish You Were Here,by Jodi Picoult,Ballantine Books,NaN,1,0,9780593598641,2024-01-07
3,Love Untold,by Ruth Jones,Transworld Publishers Ltd,NaN,1,0,9781804991015,2024-01-07
4,(A)Little History of Music,by Robert Philip,Yale University Press,NaN,1,0,9780300257748,2024-01-07
...,...,...,...,...,...,...,...,...
45230,(A) picture for harold's room,클래식라인 [제작],BK corp,NaN,1,1,8809486639740,2019-01-17
45231,Harry the dirty dog,클래식라인 [제작],BK corp,NaN,1,2,8809486639733,2019-01-17
45232,(The) three billy goats gruff,클래식라인 [제작],BK corp,NaN,1,1,8809486639726,2019-01-17
45233,Space Case!,클래식라인 [제작],BK corp,NaN,1,4,8809486639719,2019-01-17
45234,Here comes the cat!,클래식라인 [제작],BK corp,NaN,1,6,8809486639702,2019-01-17

## 데이터 결측치 개수

In [2]:
df_book.isnull().sum()

도서명         0
저자          2
출판사      3427
권       35182
도서권수        0
대출건수        0
ISBN        0
등록일자        0
dtype: int64