In [1]:
from IPython.display import display, HTML
import pandas as pd
from pymongo import MongoClient

### Insert data to MongoDB

- 인구통계자료
- 도서대출자료

In [2]:
client = MongoClient('localhost', 27017)
db = client.luckybooks

#### 인구통계자료 재가공

출처 : 부산광역시 공공데이터포털

In [4]:
import os
root = '/workspace/data'
human_file_name = '인구통계자료/myfile.csv'

df_human = pd.read_csv(os.path.join(root, human_file_name), encoding='cp949') # csv 파일을 데이터프레임으로 불러옴
display(df_human)

,구군,제공연도,동수,세대수,총인구수,남성인구수,여성인구수,시 전체 인구비율,인구밀도
0,부산광역시 해운대구,Oct-22,18,170828,392763,188511,204252,11.7,7621
1,부산광역시 해운대구,Nov-22,18,170637,392291,188227,204064,11.6,7611
2,부산광역시 해운대구,Dec-22,18,170435,391763,187958,203805,11.6,7601
3,부산광역시 해운대구,Jan-23,18,170261,391279,187735,203544,11.6,7592
4,부산광역시 해운대구,Jun-22,18,171960,396120,190250,205870,11.7,7686
...,...,...,...,...,...,...,...,...,...
1491,부산광역시,2007,223,1300692,3615101,1801832,1813269,100.0,4722
1492,부산광역시,2008,217,1311724,3596063,1791273,1804790,100.0,4695
1493,부산광역시,2009,215,1323771,3574340,1778834,1795506,100.0,4666
1494,부산광역시,2010,215,1371346,3600381,1791455,1808926,100.0,4692
1495,부산광역시,2011,214,1381257,3586079,1783378,1802701,100.0,4667

In [6]:
# 각 구와 부산광역시의 가장 최신 자료(Oct-22)만 남기기
df_human_oct_22 = df_human[df_human['제공연도'] == 'Oct-22']
display(df_human_oct_22)

,구군,제공연도,동수,세대수,총인구수,남성인구수,여성인구수,시 전체 인구비율,인구밀도
0,부산광역시 해운대구,Oct-22,18,170828,392763,188511,204252,11.7,7621
88,부산광역시 중구,Oct-22,9,24056,42136,20846,21290,1.3,14889
176,부산광역시 영도구,Oct-22,11,54440,110574,54641,55933,3.3,7787
264,부산광역시 연제구,Oct-22,12,93706,205309,98432,106877,6.1,16968
352,부산광역시 수영구,Oct-22,10,87311,176481,82974,93507,5.2,17268
440,부산광역시 서구,Oct-22,13,53657,107490,52192,55298,3.2,7705
528,부산광역시 사하구,Oct-22,16,140904,307196,153035,154161,9.1,7354
616,부산광역시 사상구,Oct-22,12,98135,208037,104846,103191,6.2,5763
704,부산광역시 북구,Oct-22,13,123831,281871,138758,143113,8.4,7160
792,부산광역시 부산진구,Oct-22,20,176765,356251,171164,185087,10.6,12007
880,부산광역시 동래구,Oct-22,13,119629,274992,133065,141927,8.2,16536
968,부산광역시 동구,Oct-22,12,46535,89030,43518,45512,2.6,9020
1056,부산광역시 남구,Oct-22,17,117964,262904,128458,134446,7.8,9803
1144,부산광역시 기장군,Oct-22,5,78528,180428,89604,90824,5.4,826
1232,부산광역시 금정구,Oct-22,16,107403,226775,110341,116434,6.7,3474
1320,부산광역시 강서구,Oct-22,8,62601,148213,78210,70003,4.4,817
1408,부산광역시,Oct-22,205,1556293,3370450,1648595,1721855,100.0,4376

In [10]:
# 필요한 열만 남기기
df_human_oct_22_ = df_human_oct_22.loc[:, ['구군', '총인구수', '남성인구수', '여성인구수']]
df_human_oct_22_ = df_human_oct_22_.reset_index()
display(df_human_oct_22_)

    index          구군     총인구수    남성인구수    여성인구수
0       0  부산광역시 해운대구   392763   188511   204252
1      88    부산광역시 중구    42136    20846    21290
2     176   부산광역시 영도구   110574    54641    55933
3     264   부산광역시 연제구   205309    98432   106877
4     352   부산광역시 수영구   176481    82974    93507
5     440    부산광역시 서구   107490    52192    55298
6     528   부산광역시 사하구   307196   153035   154161
7     616   부산광역시 사상구   208037   104846   103191
8     704    부산광역시 북구   281871   138758   143113
9     792  부산광역시 부산진구   356251   171164   185087
10    880   부산광역시 동래구   274992   133065   141927
11    968    부산광역시 동구    89030    43518    45512
12   1056    부산광역시 남구   262904   128458   134446
13   1144   부산광역시 기장군   180428    89604    90824
14   1232   부산광역시 금정구   226775   110341   116434
15   1320   부산광역시 강서구   148213    78210    70003
16   1408       부산광역시  3370450  1648595  1721855

In [19]:
# mongodb에 저장
human_collection = db['human']
for k, v in df_human_oct_22_.iterrows():
    if k == 'index': continue
    data = {
        'seq': k,
        'gugun': v[1],
        'total': v[2],
        'total_male': v[3],
        'total_femal': v[4]
    }
    human_collection.insert_one(data)

/tmp/ipykernel_4335/1595971881.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  'gugun': v[1],
/tmp/ipykernel_4335/1595971881.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  'total': v[2],
/tmp/ipykernel_4335/1595971881.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  'total_male': v[3],
/tmp/ipykernel_4335/1595971881.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  'total_femal': v[4]

In [21]:
# 내용 확인
human_data = list(db.human.find({}, {'_id':False}))
for d in human_data:
    print(d)

{'seq': 0, 'gugun': '부산광역시 해운대구', 'total': 392763, 'total_male': 188511, 'total_femal': 204252}
{'seq': 1, 'gugun': '부산광역시 중구', 'total': 42136, 'total_male': 20846, 'total_femal': 21290}
{'seq': 2, 'gugun': '부산광역시 영도구', 'total': 110574, 'total_male': 54641, 'total_femal': 55933}
{'seq': 3, 'gugun': '부산광역시 연제구', 'total': 205309, 'total_male': 98432, 'total_femal': 106877}
{'seq': 4, 'gugun': '부산광역시 수영구', 'total': 176481, 'total_male': 82974, 'total_femal': 93507}
{'seq': 5, 'gugun': '부산광역시 서구', 'total': 107490, 'total_male': 52192, 'total_femal': 55298}
{'seq': 6, 'gugun': '부산광역시 사하구', 'total': 307196, 'total_male': 153035, 'total_femal': 154161}
{'seq': 7, 'gugun': '부산광역시 사상구', 'total': 208037, 'total_male': 104846, 'total_femal': 103191}
{'seq': 8, 'gugun': '부산광역시 북구', 'total': 281871, 'total_male': 138758, 'total_femal': 143113}
{'seq': 9, 'gugun': '부산광역시 부산진구', 'total': 356251, 'total_male': 171164, 'total_femal': 185087}
{'seq': 10, 'gugun': '부산광역시 동래구', 'total': 274992, 'total_male': 133065, 'total_femal': 141927}
{'seq': 11, 'gugun': '부산광역시 동구', 'total': 89030, 'total_male': 43518, 'total_femal': 45512}
{'seq': 12, 'gugun': '부산광역시 남구', 'total': 262904, 'total_male': 128458, 'total_femal': 134446}
{'seq': 13, 'gugun': '부산광역시 기장군', 'total': 180428, 'total_male': 89604, 'total_femal': 90824}
{'seq': 14, 'gugun': '부산광역시 금정구', 'total': 226775, 'total_male': 110341, 'total_femal': 116434}
{'seq': 15, 'gugun': '부산광역시 강서구', 'total': 148213, 'total_male': 78210, 'total_femal': 70003}
{'seq': 16, 'gugun': '부산광역시', 'total': 3370450, 'total_male': 1648595, 'total_femal': 1721855}

#### 도서대출데이터 재가공

출처 : 도서관 정보나루